
* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serifs;
}
main{
    position: relative;
    max-width: 520px;
    
    margin-left: auto;
    margin-right: auto;
    
    padding: 5px;
    margin-bottom: 1%;
}

main img{
    width: 100%;    
    object-fit: cover;
    border-radius: 15px;
}

.container{
    
    max-width: 520px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    
    padding: 5px;
    
    

}
.icon{
    width: 50px;
    padding: 10px;
    
}
.wideimg{
    width: 100px;
}

footer{
   
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 15px;
}
footer img{
    width: 30px;
    padding-top: auto;
    padding-bottom: auto;
}


.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 0.75rem rgb(192, 192, 192));
    padding: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    
}

.tag{
position: absolute;
width: 250px;
height: 115px;
top:70px;
left: 20px;
border-radius: 10.3807px;
transform: rotate(-30deg);
background:transparent;
font-size: 5rem;
text-align: center;
text-shadow: 2px 2px;
}

#dislikelable{
border: 8.3px solid rgba(248, 58, 114, 1);
color: rgba(248, 58, 114, 1)
}
#likelabel{
border: 8.3px solid rgba(89, 226, 172, 1);
color: rgba(89, 226, 172, 1);
}

@media(min-width:520px){
 
}

.hidden{
    display: none;
}